<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vijayaelectricalsengineering.www"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Vijaya Electricals Engineering</name>

  <description>
      Based @ Rajahmundry
  </description>

  <author href="http://yaswanthgupta.github.io" email="yaswanthgupta.5@gmail.com">
      Yaswanth Gupta
  </author>

</widget>